body {
  display:flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  background-color:rgba(22, 22, 22, 1);
  
  
    
    
}
div{display:flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  background:linear-gradient(#e87b07, #7649a3);
  padding:15px;
  padding-top:30px;
  border:25px dotted white;
  border-radius:10px;
  
}
#test{
  margin:1px;
  font-family:"arial";
  font-size:100px;
  
color:white;  
  
  
}